*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-iframe{
    width: 100% !important;
    height: 100% !important;
  }
 
table {
    width: 100%;
    max-width: 100wv;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.myTable{
    overflow-x: auto;
    overflow: scroll;
}

th {
    background-color: #f2f2f2;
    color: #333;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}


td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}


td:first-child {
    font-weight: bold;
}


h2 {
    text-align: center;
}


td a {
    color: #007bff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

.table{
    display: block;
    display: block;
    width: 100%;
    overflow: scroll;
    overflow-x: auto;
}

.table h2{
    margin: 40px;
}