*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


#book-inf{
    width: 95vw;
    height: auto;
    padding-top: 50px;
    text-align: center;
    display: flex;
}



.book-img{
    width: 48%;
}

.book-img img{
    width: 300px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 7px 7px 15px 0 rgba(0,0,0,0.49);
    
}

.aboutus{
    display: flex;
    flex-direction: column;
}

.devs{
    display: flex; 
    justify-content: center;
}


.card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 20px 20px;
  }
  .card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .card-desc{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }



.video-aboutus{
    width: 48%;
}

.video-aboutus iframe{
    border: 1px solid black;
    box-shadow: 7px 7px 15px 0 rgba(0,0,0,0.49);
}


.book-img img{
    width: 300px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 7px 7px 15px 0 rgba(0,0,0,0.49);
    
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    justify-content: center;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    cursor: pointer;
    padding: 5px;
}

.rating label:before {
    content: "\2605";
}

.rating input[type="radio"]:checked ~ label:before {
    content: "\2605";
    color: gold;
}

.book-description{
    width: 52%;
    text-align: center;
}

.video-description{
    width: 52%;
    text-align: center;
}

.book-description h2{
    padding-bottom: 20px;
    font-style: italic;
}

.book-description p{
    font-style: italic;
    margin: 0 10px 0 10px;
    margin: 10px 40px;
}


.title-review{
    margin-bottom: 20px;
}

button.bttn{
    width: 100%;
    text-align: center;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 10px;
}

input.bttn{
    width: 100%;
    text-align: center;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

input.bttn:hover{
    background-color: rgba(34,33,32,255);
    color: #fff;
}

#reviews{
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: block;
}

.reviews{
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
}

input#text{
    width: 100%;
    text-align: center;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.container-review {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: block;
}
.review {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.review:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.review .author {
    font-weight: bold;
    color: #333;
    text-align: center;
}
.review .date {
    color: #666;
    font-size: 0.8em;
    text-align: center;
}
.review .content {
    margin-top: 10px;
}
.review .rating {
    margin-top: 5px;
}

@media screen and (max-width: 1260px) {
    .best-sellers{
      display: inline-flex; 
      flex-wrap: wrap;
      margin: 20px auto;
      justify-content: space-around;
    }
  
    article{
      display: block;
    }
  
    .article-contend{
      display: block;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .benefits-list{
      margin: 15px;
    }
  
    .benefits-list li{
      font-size: 14pt;
      margin: 10px;
      text-align: left;
    }
  
    .benefits-list p strong{
      padding-bottom: 30px;
    }
  
    section{
      margin: 0;
    }

    #book-inf{
        display: block;
    }

    .book-img{
        width: 100%;
    }

    .book-description{
        width: 100%;
        text-align: center;
    }

    .aboutus{
        display: block;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .video-aboutus{
        width: 100%;
    }
    
    .video-aboutus iframe{
        width: 90%;
        margin: 3px 3px;
        border: 1px solid black;
        box-shadow: 7px 7px 15px 0 rgba(0,0,0,0.49);
    }

    article .devs{
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .devs{
        display: block;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

}