*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

hr{
  width: 90%;
  height: 1px;
}

#header-iframe{
  width: 100% !important;
  height: 100% !important;
}

body {
    font-family: Arial, sans-serif;
  }

  /* book list section */
  section{
    width: 97%;
    height: auto;
    outline: hidden;
    margin: 20px 20px;
    display: flex;
    flex-wrap: nowrap;
  }

  /* img{
    max-width: 300px;
    width: 300px;
    max-height: 450px;
    height: 450px;
    position: relative;
  } */

  .best-sellers{
    display: inline-flex; 
    position: relative;
    margin: 20px auto;
    justify-content: space-around;
  }

  .img-cape{
    position: relative;
  }

  .img-cape img{
    max-width: 100%;
    height: 400px;
  }

  .img-cape a img:hover{
    opacity: 0.5;
    border: 1px solid #353440;
    box-shadow: 2px 2px #353440;
  }

  .img-overlay {
    position: absolute;
    top: 82%;
    width: 100%;
    height: 70px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: opacity 0.3s ease;
}

.img-cape:hover .img-overlay {
    opacity: 1; 
    border: 1px solid #353440;
    box-shadow: 2px 2px #353440;
    border-radius: 3px;
}

.img-overlay .name,
.img-overlay .author,
.img-overlay .date {
    color: white;
    text-align: center;
    margin: 0;
}

  .section-desc{
    width: auto;
    height: auto;
  }

  .section-desc h2{
    font-size: 24pt;
    text-align: center;
    padding-top: 20px;
  }
  
  /* .img-overlay{
    background-color: #353440;
    text-align: center;
    width: 259px;
    color: #fff;
    top: 603px;
    opacity: 0;
  } */


article{
  width: 100%;
  height: auto;
  display: block;
}

/* article starts here */
article h3{
  font-size: 25pt;
  padding: 50px;
  text-align: center;
  width: 100%;
}

.article-contend{
  display: flex;
  padding-top: 30px;
  width: 100%;
}

.img-article{
  width: 40%;
  height: auto;
}

.img-article img{
  max-width: 400px;
  max-height: 400px;
  width: 400px;
  height: 400px;
  padding-left: 40px;
  justify-content: center;
}


.text-article{
  width: auto;
}

.text-article p{
  font-size: 15pt;
  text-transform: capitalize;
}
.benefits-list {
  list-style-type: decimal;
  padding-left: 20px;
  font-size: 18pt;
}

.benefits-list li {
  margin-bottom: 10px;
}


.footer-stand{
  width: 100%  !important;
  height: 100% !important;
}

.desc{
  background-color: #353440;
  color: #fff;
  padding: 10px;
}

.best-sellers{
  display: flex;
}


.card-box{
  margin: auto;
  padding: 10px;
}

@media screen and (max-width: 1260px) {
  .best-sellers{
    display: inline-flex; 
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-around;
  }

  article{
    display: block;
  }

  .article-contend{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .benefits-list{
    margin: 15px;
  }

  .benefits-list li{
    font-size: 14pt;
    margin: 10px;
    text-align: left;
  }

  .benefits-list p strong{
    padding-bottom: 30px;
  }

  section{
    margin: 0;
  }
}